Django>=2.2,<4
django-bootstrap4-form
celery
django-celery-beat
email-reply-parser
akismet
markdown
beautifulsoup4
lxml
simplejson
pytz
six
pinax_teams
djangorestframework
django-model-utils
kavenegar
psycopg2-binary
django-environ
gunicorn==20.1.0