{% extends "helpdesk/public_base.html" %}
{% load i18n %}

{% block helpdesk_title %}{% trans "Create Ticket" %}{% endblock %}

{% block helpdesk_body %}
    <div class="TicketContainer">
        <div class="ticket-header">
            <div class="headerHolder">
                <h1 class="title">اضافه کردن تیکت</h1>
                <div class="headerInside">
                    <p class="innerText">داشبورد</p>
                    <img src="../../static/helpdesk/images/Divider.svg" class="divider" />
                    <p class="innerText">اضافه کردن تیکت</p>
                </div>
            </div>
            <img src="../../static/helpdesk/images/ticketImage.svg" class="imgHeader" />
        </div>
                {% include 'helpdesk/public_create_ticket_base.html' %}
    </div>
{% endblock %}

{% block helpdesk_js %}
    {{ form.media.js }}
{% endblock %}
