{% extends "helpdesk/public_base.html" %}
{% load i18n humanize %} 
{% load static%} 
{% block helpdesk_title %}
{% trans "View a Ticket" %}
{% endblock %} 
{% block helpdesk_body %}
<div class="TicketContainer">
  <div class="ticket-header">
    <div class="headerHolder">
      <h1 class="title">تیکت</h1>
      <div class="headerInside">
        <p class="innerText">داشبورد</p>
        <img src="../../static/helpdesk/images/Divider.svg" class="divider" />
        <p class="innerText">تیکت ها</p>
        <img src="../../static/helpdesk/images/Divider.svg" class="divider" />
        <p class="innerText">تیکت</p>
      </div>
    </div>
  </div>
    <div class="textHolder"><b>موضوع تیکت </b>| {{ ticket.title }}</div>
    <div class="holder">
      <div class="textHolder">
        <b>نوع تیکت </b>| {% blocktrans with ticket.queue as queue_name %}{{queue_name }}{% endblocktrans %}
      </div>
      <div class="textHolder">
        <b>وضعیت تیکت </b>|<span class="status"> {{ ticket.get_status }}</span>
      </div>
    </div>
      <form method="post" action="{% url 'helpdesk:update' ticket.id %}" class="form" enctype="multipart/form-data">
        <input type="hidden" name="key" value="{{ key }}" />
        <input type="hidden" name="mail" value="{{ mail }}" />
      
              <textarea placeholder="متن پیام خود را وارد کنید " class="des" rows="6" cols="70" required name="comment" id="commentBox"></textarea>
            {% if not ticket.can_be_resolved %}
            <dd>
              {% trans "This ticket cannot be resolved or closed until the tickets
              it depends on are resolved." %}
            </dd>
            {% endif %}
          <div class="fileSender">
          <div class="fileInside">
            <img src="../../static/helpdesk/images/Paperclip.svg" />
            <p>آپلود عکس</p>
            <input type="file" name="attachment" id="file0">
          </div>
          </div>
        <div class="btns">
      <button type="submit" class="btn">
        <img src="../../static/helpdesk/images/fluent_arrow-reply-48-regular.svg" alt="reply" /><span class="btnText">ارسال پاسخ
          </apan>
      </button>
      <button type="button" class="backBtn" onclick="document.getElementById('close').style.display = 'flex';" >
        <img src="../../static/helpdesk/images/x-circle-green.svg" alt="reply" /><span class="backBtnText">بستن
          </apan>
      </button></div>
      <div id="ok" class="closePart"><img width="70" height="70" src="../../static/helpdesk/images/Frame_12978.svg" alt="ok" />
        <p>تیکت شما با موفقیت ارسال گردید</p><button class="okButton" onclick="history.back()" type="button">
        تایید
        </button></div>
      <div id="close" class="closePart"><img width="70" height="70" src="../../static/helpdesk/images/Frame_12889.svg" alt="close" />
        <p> آیا از بستن این تیکت اطمینان دارید؟</p><button type="button" class="okButton" onclick="window.location.replace('/tickets/list?email={{ ticket.submitter_email }}');">
        تایید
        </button></div>
        {% csrf_token %}
      </form>
    <div class="chat">
      {% if ticket.followup_set.public_followups %} 
      {% load ticket_to_link %} 
      {%for followup in ticket.followup_set.public_followups reversed %}
      {% if not followup.ticketchange_set.all%} 
      {% if followup.user%}
        <div class="ticketSend">
          <p class="ticketMsg">
            {{followup.comment|force_escape|urlizetrunc:50|num_to_link|linebreaksbr}}
          </p>
          <div class="ticketinfo">
            <div class="ticketInfoHoler">
              <img src="../../static/helpdesk/images/person.svg" alt="Person" />
              <p>{{ followup.user }}</p>
            </div>
            <div class="ticketInfoHoler">
              <img src="../../static/helpdesk/images/time.svg" alt="Time" />
              <p>{{ followup.date|naturaltime }}</p>
            </div>
          </div>
        </div>
        {% else %}
        <div class="followup well">
          <div class="ticketResive">
            <p class="ticketMsg">
              {{followup.comment|force_escape|urlizetrunc:50|num_to_link|linebreaksbr}}
            </p>
            <div class="ticketinfo">
              <!-- <div class="ticketInfoHoler">
                <img src="../../static/helpdesk/images/person.svg" alt="Person" />
                <p>{{ followup.user }}</p>
              </div> -->
              <div class="ticketInfoHoler">
                <img src="../../static/helpdesk/images/time.svg" alt="Time" />
                <p>{{ followup.date|naturaltime }}</p>
              </div>
            </div>
          </div>
        {% endif %} {% endif %}
      {% endfor %} {% endif %}
    </div>
  </div>
<script>$('form').submit(function (e) {
    $('#ok').hide();
    e.preventDefault();     
  });</script>
{% endblock %}
