{% extends "helpdesk/public_base.html" %}
{% load i18n humanize %} 
{% load static%} 
{% block helpdesk_title %}
{% trans "View a Ticket" %}
{% endblock %} 
{% block helpdesk_body %}
<div class="TicketContainer">
  <div class="ticket-header">
    <div class="headerHolder">
      <h1 class="title">تیکت</h1>
      <div class="headerInside">
        <p class="innerText">داشبورد</p>
        <img src="../../static/helpdesk/images/Divider.svg" class="divider" />
        <p class="innerText">تیکت ها</p>
        <img src="../../static/helpdesk/images/Divider.svg" class="divider" />
        <p class="innerText">تیکت</p>
      </div>
    </div>
  </div>
    <div class="textHolder"><b>موضوع تیکت </b>| {{ ticket.title }}</div>
    <div class="holder">
      <div class="textHolder">
        <b>نوع تیکت </b>| {% blocktrans with ticket.queue as queue_name %}{{queue_name }}{% endblocktrans %}
      </div>
      <div class="textHolder">
        <b>وضعیت تیکت </b>|<span class="status"> {{ ticket.get_status }}</span>
      </div>
    </div>
  {% if ticket.get_status !=  "بسته شده" and ticket.get_status != "حل شده" %}
      <form method="post" action="{% url 'helpdesk:update' ticket.id %}" class="form" enctype="multipart/form-data">
        <input type="hidden" name="key" value="{{ key }}" />
        <input type="hidden" name="mail" value="{{ mail }}" />
              <textarea placeholder="متن پیام خود را وارد کنید " class="des" rows="6" cols="70" required name="comment" id="commentBox"></textarea>
          <input type='hidden' name='public' value='1'>
          <div class="fileSender">
          <div class="fileInside">
            <img src="../../static/helpdesk/images/Paperclip.svg" />
            <p>آپلود عکس</p>
            <input type="file" name="attachment" id="file0" accept= '.txt,.pdf,.doc,.docx,.odt,.jpg,.png,.eml,.mp4,.gif,.mkv'>
          </div>
          </div>
          <p id="alert" style="color: red;"> فقط فایل هایی با فرمت txt ، pdf ، doc ، docs ، odt ، jpg ، png ، eml ، mp4 ، gif و
            mkv و با حجم کمتر از 10 مگابایت
            پذیرفته میشود.</p>
        <div class="btns">
      <button type="submit" class="btn">
        <img src="../../static/helpdesk/images/fluent_arrow-reply-48-regular.svg" alt="reply" /><span class="btnText">ارسال پاسخ
          </apan>
      </button>
      <button type="button" class="backBtn" onclick="document.getElementById('close').style.display = 'flex';" >
        <img src="../../static/helpdesk/images/x-circle-green.svg" alt="reply" /><span class="backBtnText">بستن
          </apan>
      </button></div>
      
      <div id="close" class="closePart"><img width="70" height="70" src="../../static/helpdesk/images/Frame_12889.svg" alt="close" />
        <p> آیا از بستن این تیکت اطمینان دارید؟</p><button type="button" class="okButton" onclick="window.location.replace('/tickets/list?email={{ ticket.submitter_email }}');">
        تایید
        </button></div>
        {% csrf_token %}
      </form>{% endif %}
    <div class="chat">
      {% if ticket.followup_set.public_followups %} 
      {% load ticket_to_link %} 
      {%for followup in ticket.followup_set.public_followups reversed %}
      {% if forloop.last %}
      <div class="followup well">
        <div class="ticketResive">
          <p class="ticketMsg">
            {{followup.comment|force_escape|urlizetrunc:50|num_to_link|linebreaksbr}}
          </p>
          <div class="ticketinfo">
            <div class="ticketInfoHoler">
              <img src="../../static/helpdesk/images/Time.svg" alt="Time" />
              <p>{{ followup.date|naturaltime }}</p>
            </div>
          </div>
        </div>
      {% else %}
      {% if followup.user%}
        <div class="ticketSend">
          <p class="ticketMsg">
            {% if followup.comment %}
            {{followup.comment|force_escape|urlizetrunc:50|num_to_link|linebreaksbr}}
            {% else %}
            {% for change in followup.ticketchange_set.all %}
            {% blocktrans with change.field as field and change.old_value as old_value and change.new_value as new_value %} 
            {{ field }} از {{ old_value }} به {{ new_value }} تغییر یافت .{% endblocktrans %}{% endfor %}
            {% endif %}
          </p>
          <div class="ticketinfo">
            <div class="ticketInfoHoler">
              <img src="../../static/helpdesk/images/Person.svg" alt="Person" />
              <p>{{ followup.user }}</p>
            </div>
            <div class="ticketInfoHoler">
              <img src="../../static/helpdesk/images/Time.svg" alt="Time" />
              <p>{{ followup.date|naturaltime }}</p>
            </div>
          </div>
        </div>
        {% else %}
        <div class="followup well">
          <div class="ticketResive">
            <p class="ticketMsg">
              {{followup.comment|force_escape|urlizetrunc:50|num_to_link|linebreaksbr}}
            </p>
            <div class="ticketinfo">
              <div class="ticketInfoHoler">
                <img src="../../static/helpdesk/images/Time.svg" alt="Time" />
                <p>{{ followup.date|naturaltime }}</p>
              </div>
            </div>
          </div>
         {% endif %}{% endif %}
      {% endfor %} 
      {% endif %}
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
  $(document).ready(() => {
      $("form").on("submit", function (e) {
        var parent = document.createElement("div");
        parent.id = "loader-section";
        parent.className = "closePart";
        var loader = document.createElement("div");
        loader.className = "loader";
        var p = document.createElement("p");
        p.innerHTML = "لطفا منتظر بمانید ...";
        parent.appendChild(loader);
        parent.appendChild(p);
        $('body').append(parent);
      });
    
  const supportedExtensions = ['txt','pdf','doc','docx','odt','jpg','png','eml','mp4','gif','mkv'];

    const handleChange = ({ target }) => {
      document.getElementById("alert").style.display = "none";
      const path = target.value.split('.');
      const extension = `${path[path.length - 1]}`;

      console.log(path , extension)

      if (supportedExtensions.includes(extension)) {
        if (target.files[0].size > 10*1024*1024 ){
          document.getElementById("alert").style.display = "block";
          // alert("فقط فایل هایی با فرمت txt ، pdf ، doc ، docs ، odt ، jpg ، png ، eml ، mp4 ، gif و mkv  و با حجم کمتر از 10 مگابایت پذیرفته میشود.")
          target.value = '';
        }
      } else {
        document.getElementById("alert").style.display = "block";
        target.value = '';
      }
    }

    $('#file0').on('change', handleChange)
  })
</script>
{% endblock %}
