{% load i18n bootstrap4form %}
{% load load_helpdesk_settings %}

{% with request|load_helpdesk_settings as helpdesk_settings %}
    {% if helpdesk_settings.HELPDESK_SUBMIT_A_TICKET_PUBLIC %}
    <div>
        <select class="select">
            <option selected disabled hidden class="optionFirst">نوع تیکت | لطفا یکی از گزینه های زیر را انتخاب کنید</option>
        </select>
        <select class="select" style="margin-top: 20px;">
            <option selected disabled hidden class="optionFirst">موضوع تیکت | لطفا یکی از گزینه های زیر را انتخاب کنید</option>
        </select>
        <textarea class="textarea" placeHolder="متن پیام خود را وارد کنید" ></textarea>
        <div class="fileSender">
            <div class="fileInside">
                <img src="../../static/helpdesk/images/Paperclip.svg" />
                <input type="file" class="fileInsideText"></input>
            </div>
        </div>
        <button  type="submit" class="submit-btn">
            <p class="ticket-btnText">ثبت نظر</p>
        </button>
    </div>
    {% else %}
        <p>{% trans "Public ticket submission is disabled. Please contact the administrator for assistance." %}</p>
    {% endif %}
{% endwith %}
