{% extends "helpdesk/public_base.html" %}
{% load i18n humanize %} 
{% load static%} 
{% block helpdesk_title %}
{% trans "View a Ticket" %}
{% endblock %} 
{% block helpdesk_body %}
<div class="TicketContainer">
  <div class="ticket-header">
    <div class="headerHolder">
      <h1 class="title">تیکت</h1>
      <div class="headerInside">
        <p class="innerText">داشبورد</p>
        <img src="../../static/helpdesk/images/Divider.svg" class="divider" />
        <p class="innerText">تیکت ها</p>
        <img src="../../static/helpdesk/images/Divider.svg" class="divider" />
        <p class="innerText">تیکت</p>
      </div>
    </div>
  </div>
    <div class="textHolder"><b>موضوع تیکت </b>| {{ ticket.title }}</div>
    <div class="holder">
      <div class="textHolder">
        <b>نوع تیکت </b>| {% blocktrans with ticket.queue as queue_name %}{{queue_name }}{% endblocktrans %}
      </div>
      <div class="textHolder">
        <b>وضعیت تیکت </b>|<span class="status"> {{ ticket.get_status }}</span>
      </div>
    </div>
      <form method="post" action="{% url 'helpdesk:update' ticket.id %}" class="form" enctype="multipart/form-data">
        <input type="hidden" name="key" value="{{ key }}" />
        <input type="hidden" name="mail" value="{{ mail }}" />
      
              <textarea rows="8" cols="70" required name="comment" id="commentBox"></textarea>
            {% if not ticket.can_be_resolved %}
            <dd>
              {% trans "This ticket cannot be resolved or closed until the tickets
              it depends on are resolved." %}
            </dd>
            {% endif %}
          <div class="fileSender">
          <div class="fileInside">
            <img src="../../static/helpdesk/images/Paperclip.svg" />
            <p>آپلود عکس</p>
            <input type="file" name="attachment" id="file0">
          </div>
          </div>
      
        <button class="btn btn-success btn-lg" type="submit">
          {% trans "Update This Ticket" %}
        </button>
      
        {% csrf_token %}
      </form>
    <div class="chat">
      {% if ticket.followup_set.public_followups %} 
      {% load ticket_to_link %} 
      {%for followup in ticket.followup_set.public_followups reversed %}
      {% if not followup.ticketchange_set.all%} 
      {% if followup.user%}
      <div class="followup well">
        <div class="ticketResive">
          <p class="ticketMsg">
            {{followup.comment|force_escape|urlizetrunc:50|num_to_link|linebreaksbr}}
          </p>
          <div class="ticketinfo">
            <div class="ticketInfoHoler">
              <img src="../../static/helpdesk/images/person.svg" alt="Person" />
              <p>{{ followup.user }}</p>
            </div>
            <div class="ticketInfoHoler">
              <img src="../../static/helpdesk/images/time.svg" alt="Time" />
              <p>{{ followup.date|naturaltime }}</p>
            </div>
          </div>
        </div>
        {% else %}
        <div class="ticketSend">
          <p class="ticketMsg">
            {{followup.comment|force_escape|urlizetrunc:50|num_to_link|linebreaksbr}}
          </p>
          <div class="ticketinfo">
            <div class="ticketInfoHoler">
              <img src="../../static/helpdesk/images/person.svg" alt="Person" />
              <p>شما</p>
            </div>
            <div class="ticketInfoHoler">
              <img src="../../static/helpdesk/images/time.svg" alt="Time" />
              <p>{{ followup.date|naturaltime }}</p>
            </div>
          </div>
        </div>
        {% endif %} {% endif %}
      {% endfor %} {% endif %}
    </div>
  </div>

{% endblock %}
