{% load i18n bootstrap4form %}
{% load load_helpdesk_settings %}

{% with request|load_helpdesk_settings as helpdesk_settings %}
    {% if helpdesk_settings.HELPDESK_SUBMIT_A_TICKET_PUBLIC %}
    {% if form.errors %}
    {% include 'helpdesk/include/alert_form_errors.html' %}
    {% endif %}
    <form role="form" method='post' enctype='multipart/form-data' class="form">
        {% csrf_token %}
        {{ form.queue }}
        {{ form.title }}
        {{ form.body }}
        {{ form.priority }}
        <div class="fileSender">
            <div class="fileInside">
                <img src="../../static/helpdesk/images/Paperclip.svg" />
                {{ form.attachment }}
            </div>
        </div>
        
        {{ form.submitter_email }}
        <!-- {{ form|bootstrap4form }} -->
        <button  type="submit" class="submit-btn">
            <p class="ticket-btnText">ثبت نظر</p>
        </button>
            </form>
    {% else %}
        <p>{% trans "Public ticket submission is disabled. Please contact the administrator for assistance." %}</p>
    {% endif %}
{% endwith %}
