{% load i18n bootstrap4form %}
{% load load_helpdesk_settings %}

{% with request|load_helpdesk_settings as helpdesk_settings %}
{% if helpdesk_settings.HELPDESK_SUBMIT_A_TICKET_PUBLIC %}
{% if form.errors %}
{% include 'helpdesk/include/alert_form_errors.html' %}
{% endif %}
<form role="form" method='post' enctype='multipart/form-data'>
    {% csrf_token %}
    <div dir="rtl" style="text-align: right;direction: rtl;">
    {{ form.queue }}</div>
    {{ form.title }}
    {{ form.body }}
    {{ form.priority }}
    <div class="fileSender">
        <div class="fileInside">
            <img src="../../static/helpdesk/images/Paperclip.svg" />
            <p>آپلود عکس</p>
            {{ form.attachment }}
        </div>
    </div>

    {{ form.submitter_email }}
    <!-- {{ form|bootstrap4form }} -->
    <button type="submit" class="submit-btn">
        <p class="ticket-btnText">ثبت نظر</p>
    </button>
</form>


{% else %}
<p>{% trans "Public ticket submission is disabled. Please contact the administrator for assistance." %}</p>
{% endif %}
{% endwith %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
    $(document).ready(() => {
        $("form").on("submit", function (e) {
            var parent = document.createElement("div");
            parent.id = "loader-section";
            parent.className = "closePart";
            var loader = document.createElement("div");
            loader.className = "loader";
            var p = document.createElement("p");
            p.innerHTML = "لطفا منتظر بمانید ...";
            parent.appendChild(loader);
            parent.appendChild(p);
            $('body').append(parent);
        });
        const supportedExtensions = ['txt', 'pdf', 'doc', 'docx', 'odt', 'jpg', 'png', 'eml', 'mp4', 'gif', 'mkv'];

        const handleChange = ({ target }) => {
            const path = target.value.split('.');
            const extension = `${path[path.length - 1]}`;

            console.log(path, extension)

            if (supportedExtensions.includes(extension)) {
                if (target.files[0].size > 10 * 1024 * 1024) {
                    alert("فقط فایل هایی با فرمت txt ، pdf ، doc ، docs ، odt ، jpg ، png ، eml ، mp4 ، gif و mkv  و با حجم کمتر از 10 مگابایت پذیرفته میشود.")
                    target.value = '';
                }
            } else {
                // TODO: show "invalid file type" message to user

                // reset value
                target.value = '';
            }
        }

        $('input[type="file"]').on('change', handleChange)
    })
</script>